@font-face {
  font-family: AmazonEmberDisplay;
  src: url("../../fonts/AmazonEmberDisplay_Rg.ttf");
  font-weight: normal;
}
@font-face {
  font-family: AmazonEmberDisplay;
  src: url("../../fonts/AmazonEmberDisplay_Lt.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: AmazonEmberDisplay;
  src: url("../../fonts/AmazonEmberDisplay_Bd.ttf");
  font-weight: bold;
}

.header {
  &__secondary {
    font-family: $font-bd;
    color: $aws-green;
    font-size: 6.4rem;
    margin-bottom: 2.5rem;
  }
}

.pg {
  font-family: $font-reg;
  color: $black;
  font-size: 2.1rem;
  margin-bottom: 2rem;
}

.txt {
  &-purple {
    color: var(--blue-purple);
  }
}
