b,
strong {
  font-weight: bold;
}

.mb--0 {
  margin-bottom: 0 !important;
}
.pos-relative {
  @include clearfix;
  position: relative;
}
.flex-center {
  display: flex;
  align-items: center;
}
.clearfix {
  @include clearfix;
}
