// FONTS
$font-reg: "EmberReg", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
$font-lt: "EmberLt", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
$font-bd: "EmberBd", "Helvetica Neue", Helvetica, Arial, Sans-Serif;

:root {
  --dark: #232f3e;
  --pastel-purple: #c5a1ff;
  --black: #000000;
  --dark-grey-blue: #2c3a4b;
  --ice: #eaeded;
  --blue-purple: #4d27aa;
  --brownish-grey: #707070;
  --light-purple: #a166ff;
  --white: #ffffff;
  --red: #ea0909;
  --yellowish-orange: #f7981d;
  --light-grey-blue: #aab7b8;
  --duck-egg-blue: #d5dbdb;
  --blue-grey: #879196;
}

// GRID
$grid-width: 75rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 3rem;

// COLORS
$aws-blue: #212e3f;
$aws-green: #16bf9f;

$black: #232f3e;
