// FONTS
$font-reg: "EmberReg", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
$font-lt: "EmberLt", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
$font-bd: "EmberBd", "Helvetica Neue", Helvetica, Arial, Sans-Serif;

:root {
  --dark: #232f3e;
  --carolina-blue: #95b0ff;
  --sapphire: #2e27ad;
  --yellowish-orange: #f7981d;
  --soft-blue: #527fff;
  --ice: #eaeded;
  --red: #db0808;
  --light-grey: #d5dbdb;
  --light-white: #f2f4f4;
  --blue-grey: #879196;
}

// GRID
$grid-width: 75rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 3rem;

// COLORS
$aws-blue: #212e3f;
$aws-green: #16bf9f;

$black: #232f3e;
