.header {
  &__section {
    background-color: var(--dark);
    background-image: url("../../assets/images/bg-top-main.svg");
    background-size: cover;
    color: #fff;
    padding-top: 8.2rem;
    height: 80rem;
    position: relative;
  }
  &__logo {
    width: 33.3rem;
    height: 6.4rem;
    object-fit: contain;
    margin-bottom: 13.4rem;
  }
  &__title {
    font-family: AmazonEmber;
    font-size: 8.1rem;
    font-weight: 300;
    line-height: 1.28;
    color: var(--white);

    margin-bottom: 37.5rem;
  }
}
