.industry {
  &__section {
    padding-top: 3.2rem;
  }

  &__img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    .industry__list {
      width: 30%;
      align-self: center;
    }
    @media only screen and (max-width: 825px) {
      justify-content: center;
      height: 33rem;
    }
  }

  // List
  &__list {
    list-style: none;
    @media only screen and (max-width: 825px) {
      display: none;
    }
  }
  &__item {
    font-family: AmazonEmber;
    font-size: 2.8rem;
    line-height: 1.14;
    color: var(--soft-blue);
    display: flex;
    margin-bottom: 2rem;
    img {
      width: 3rem;
      height: 3rem;
      margin-right: 1.8rem;
      align-self: auto;
      display: block;
    }
  }
}
