.industry {
  &__section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__img {
    width: 49.875rem;
    height: 31.539rem;
    object-fit: contain;
    margin: 0 auto;
  }

  // List
  &__list {
    list-style: none;
  }
  &__item {
    font-family: AmazonEmberDisplay;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.14;
    color: var(--light-purple);
    vertical-align: center;
    img {
      width: 1.8rem;
      height: 1.8rem;
      padding: 0.3rem;
      margin-right: 1rem;
      border: 1px solid var(--blue-grey);
      border-radius: 50%;
    }
  }

  // green section
  &__green {
    background-color: $aws-green;
    color: white;

    blockquote {
      border-left: 0.2rem solid white;
      font-size: 3.8rem;
      font-family: $font-lt;
      line-height: 1.33;
      width: 66rem;
      margin: 5rem auto;
      padding-left: 3.1rem;
    }
  }
}
