.quote {
  &__section {
    background-color: var(--sapphire);
    background-image: url("../../assets/images/bg-abstract-blue.svg");
    background-size: cover;
    background-repeat: no-repeat;

    padding: 5rem 0;

    &-light {
      background-color: var(--dark);
    }
  }
  &__text {
    position: relative;
    margin: 0 auto;

    width: 69rem;

    font-family: AmazonEmber;
    font-size: 2.25rem;
    line-height: 1.33;
    text-align: left;
    color: #ffffff;

    p:not(:last-child) {
      margin-bottom: 2.25rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: -3.75rem;
      height: 105%;
      width: 0.25rem;
      background-color: white;
      top: -2.5%;
    }

    &-light::before {
      background-color: white;
    }
    // padding-left: 3.75rem;
    // border-left: 0.25rem solid white;
  }
}
