.section2 {
  &__section {
    padding: 3.5rem 0;
    background-color: var(--ice);
  }
  &__header {
    @include SectionHeadline;
  }
  &__img {
    // position: absolute;
    width: 100%;
    margin-top: 50%;
    transform: translateY(-50%);
  }
}
