.sidebar-nav {
  &__container {
    position: fixed;
    top: 8.125rem;
    right: 1.75rem;
    z-index: 105;
  }
  &__arrow {
    width: 0.625rem;
    height: 0.625rem;
    background-color: var(--soft-blue);
    border-radius: 50%;
    margin-bottom: 0.3rem;

    &-Up {
    }
    &-Down {
      margin-top: 0.3rem;
    }
  }
  &__indicator {
    width: 0.625rem;
    height: 3.125rem;
    background-color: transparent;
    border: 1px solid var(--blue-grey);
    margin-bottom: 0.2rem;
    &:hover {
      cursor: pointer;
    }
  }
}
