.navigation {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: var(--dark);
  color: white;
  padding-bottom: 1.5rem;
  width: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: auto;
  z-index: 100;
  display: table;

  @media only screen and (max-width: 1024px) {
    position: fixed;
    top: 0;
    bottom: auto;
    overflow: auto;
    padding-bottom: 0;
  }
}

.icon_wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.hamburger-icon {
  fill: #879196;
  display: none;

  @media only screen and (max-width: 1024px) {
    float: right;
    // background-image: url("../../assets/images/icon-nav-mobile.svg");
    width: 3.4rem;
    height: 2.4rem;
    display: block;
    content: "";
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    object-fit: cover;
    &.active {
      fill: orange;
    }
  }
}

.menu-dd {
  @media only screen and (max-width: 1024px) {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100vw;
    height: 96vh;
    overflow: auto;
    background-color: var(--dark);
    border-top: 1px solid black;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
}
.nav {
  &__wrapper {
    display: flex;
    padding-top: 1.5rem;
    @media only screen and (max-width: 1024px) {
      display: block;
      margin-bottom: 40rem;
    }
  }

  &__container {
    margin-right: 6.5rem;
    &--1 {
      width: 35%;
      @media only screen and (max-width: 1024px) {
        width: 100%;
      }
    }
    @media only screen and (max-width: 1024px) {
      margin-bottom: 3rem;
    }
  }
  &__title {
    font-family: $font-lt;
    font-size: 2.4rem;
    // font-weight: 100;
    line-height: 1.5;
    text-align: left;
    color: var(--light-white);
    margin-bottom: 0.5rem;
    @media only screen and (max-width: 1024px) {
      margin-bottom: 3rem;
    }

    &:hover {
      cursor: pointer;
      color: var(--yellowish-orange);
    }

    &.active {
      position: relative;
      &:before {
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        background-color: var(--yellowish-orange);
        content: "";
        display: block;
        top: 50%;
        transform: translate(-100%, -50%);
        left: -0.5rem;
        // border-radius: 50%;
        clip-path: polygon(0 0, 0 100%, 100% 50%);
      }
    }
  }
  &__menu {
    list-style: none;
    &--2 {
      display: flex;
      @media only screen and (max-width: 1024px) {
        display: block;
      }
    }
  }
  &__item {
    font-family: $font-bd;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: -0.02px;
    text-align: left;
    color: var(--light-grey);
    margin-bottom: 1.5rem;

    p {
      margin-bottom: 0.3rem;
    }
    &--partner {
      margin-right: 4rem;
      @media only screen and (max-width: 1024px) {
        margin-bottom: 3rem;
        margin-right: 0;
      }
    }
    p:hover {
      cursor: pointer;
      color: var(--yellowish-orange);
    }
    &.active {
      position: relative;
      // color: var(--yellowish-orange);
      &:before {
        position: absolute;
        top: 1.2rem;
        width: 0.75rem;
        height: 0.75rem;
        background-color: var(--yellowish-orange);
        // border-radius: 50%;
        clip-path: polygon(0 0, 0 100%, 100% 50%);
        content: "";
        display: block;
        transform: translate(-100%, -50%);
        left: -0.5rem;
      }
    }
  }

  &__sub {
    &-list {
      list-style: none;
      overflow: hidden;
      color: var(--light-grey);
      // height: 0;
      visibility: 0;
    }
    &-item {
      margin-left: 2.2rem;
      line-height: 1.5;
      font-family: $font-lt;
      font-size: 1.8rem;
      // font-weight: 100;
      line-height: 2;
      letter-spacing: -0.02px;
      text-align: left;
      color: var(--light-grey);

      &:hover {
        cursor: pointer;
        color: var(--yellowish-orange);
      }
      &.active {
        position: relative;
        // color: var(--yellowish-orange);
        &:before {
          position: absolute;
          width: 0.75rem;
          height: 0.75rem;
          background-color: var(--yellowish-orange);
          content: "";
          display: block;
          top: 50%;
          transform: translate(-100%, -50%);
          left: -0.5rem;
          // border-radius: 50%;
          clip-path: polygon(0 0, 0 100%, 100% 50%);
        }
      }
    }
  }
}

.sticky {
  @media only screen and (min-width: 1024px) {
    position: fixed;
    top: 0;
    left: 0;
    border-left: 0.8rem solid var(--secondary);
    z-index: 100;
    height: fit-content;
    animation: showNav 0.25s ease-in;

    .nav__menu {
      visibility: hidden;
      opacity: 0;
      height: 0;
    }
  }

  // width: 100%;
}
