.navigation {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: $aws-blue;
  color: white;
  padding-bottom: 1.5rem;
  width: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: auto;
  z-index: 100;
  display: table;
  // transition: all 500ms;
}

.nav {
  &__wrapper {
    display: flex;
    padding-top: 1.5rem;
  }

  &__container {
    margin-right: 6.5rem;
  }
  &__title {
    font-family: AmazonEmber;
    font-size: 2.4rem;
    font-weight: 100;
    line-height: 1.5;
    text-align: left;
    color: var(--light-white);
    margin-bottom: 0.5rem;
    &:hover {
      cursor: pointer;
      color: var(--yellowish-orange);
    }

    &.active {
      position: relative;
      &:before {
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        background-color: var(--yellowish-orange);
        content: "";
        display: block;
        top: 50%;
        transform: translate(-100%, -50%);
        left: -0.5rem;
        // border-radius: 50%;
        clip-path: polygon(0 0, 0 100%, 100% 50%);
      }
    }
  }
  &__menu {
    list-style: none;
    &--2 {
      display: flex;
    }
  }
  &__item {
    font-family: AmazonEmber;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2;
    letter-spacing: -0.02px;
    text-align: left;
    color: var(--light-grey);
    margin-bottom: 0.3rem;

    p {
      margin-bottom: 0.3rem;
    }
    &--partner {
      margin-right: 4rem;
    }
    p:hover {
      cursor: pointer;
      color: var(--yellowish-orange);
    }
    &.active {
      position: relative;
      // color: var(--yellowish-orange);
      &:before {
        position: absolute;
        top: 1.8rem;
        width: 0.75rem;
        height: 0.75rem;
        background-color: var(--yellowish-orange);
        // border-radius: 50%;
        clip-path: polygon(0 0, 0 100%, 100% 50%);
        content: "";
        display: block;
        transform: translate(-100%, -50%);
        left: -0.5rem;
      }
    }
  }

  &__sub {
    &-list {
      list-style: none;
      overflow: hidden;
      color: var(--light-grey);
      // height: 0;
      visibility: 0;

      &-1 {
      }
    }
    &-item {
      margin-left: 2.2rem;
      line-height: 1.5;
      font-family: AmazonEmber;
      font-size: 1.8rem;
      font-weight: 100;
      line-height: 2;
      letter-spacing: -0.02px;
      text-align: left;
      color: var(--light-grey);

      &:hover {
        cursor: pointer;
        color: var(--yellowish-orange);
      }
      &.active {
        position: relative;
        // color: var(--yellowish-orange);
        &:before {
          position: absolute;
          width: 0.75rem;
          height: 0.75rem;
          background-color: var(--yellowish-orange);
          content: "";
          display: block;
          top: 50%;
          transform: translate(-100%, -50%);
          left: -0.5rem;
          // border-radius: 50%;
          clip-path: polygon(0 0, 0 100%, 100% 50%);
        }
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  border-left: 0.8rem solid var(--soft-blue);
  z-index: 100;
  height: fit-content;
  animation: showNav 0.25s ease-in;

  .nav__menu {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }

  // width: 100%;
}

.nav__wrapper:hover {
  .active {
    // color: red;
    &:hover {
      // color: var(--yellowish-orange);
    }
  }
}

// .nav__open-1.active > .nav__sub-list-1 {
// height: auto;
// visibility: visible;
// }
